*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hide{
    display: none;
}
.done{
    color: green;
}
body{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0)20% , rgb(90, 87, 87), #fff);
    background-attachment: fixed;
}
.container h1{
    color: #fff;
    text-align: center;
}
.container{
    height: 25vh;
    width: 40vw;
    margin: auto;
}
#task{
    width: 80%;
    margin: auto;
    height: 5rem;
    padding: .3rem;
}
#campo{
    margin: 1rem auto;
    width: 100%;
    display: block;
    height: 2rem;
    outline: none;
}
#campo::placeholder{
    text-align: center;
}
#info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: .5rem;
}
#add-btn{
    display: block;
    margin: 1rem auto;
    width: 6rem;

}
h2{
    text-align: center;
    color: #fff;
}
.result{

    display: flex;
}
.result-list{
    list-style: none;
    width: 100%;
}
.list-item{
    background-color: aliceblue;
    margin-bottom: 2rem;
    width: 90%;
    position: relative;
}
.name-item{
    background-color: #fff;
    height: 2rem;
    display: block;
    font-size: 18px;
    line-height: 2;
    padding-left: .5rem;
}
.data-item{
    background-color: #fff;
    display: flex;
    justify-content: center;
}
ion-icon{
    font-size: 18px;
}
.done-btn {
    width: 2rem;
    height: 2rem;
    transition: .6s;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 9%;
    top: 0px;
    background-color: #fff;
}
.done-btn:hover{
    background-color: rgb(153, 255, 0);
}
.trash-btn{
    width: 2rem;
    height: 2rem;
    transition: .6s;
    cursor: pointer;
    border:none;
    position: absolute;
    right: 0;
    top: 0px;
    background-color: #fff;
}
.trash-btn:hover{
    background-color: rgb(249, 28, 28);
}
.line{
    background-color: fff;
    width: 100%;
    height: 1%;
    border-bottom: 1px solid black;
    display: block;
}